.product-page-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2em 1em;
    height: 90%;
}
.product-page-container div{
    flex:1;
}
.product-page-image{
    max-width: 90%;
    height: 50%;
}
.product-page-product-description{
    margin:1em 2em;
}
.product-page-price span{
    font-weight: bold;
}
.variant-buttons{
    border:none;
    padding:'1em';
    padding:1em;
    border-radius:0.4em;
    margin:0.2em;
    transition-duration: 300ms;
}
.variant-buttons:hover{
    border:1px solid black;
    cursor: pointer;
}
.add-to-cart-button{
    display: block;
    background-color: rgb(58, 36, 255);
    color: white;
    border:none;
    font-size: 1em;
    border-radius: 0.3em;
    text-decoration: none;
    padding:0.5em;
    transition-duration: 200ms ;
    margin:1em 0em;
}
.add-to-cart-button:hover{
    cursor: pointer;
    background-color: rgba(52, 112, 240, 0.404);
    color: black;
    border:1px solid black;
}
.counter{
    display: flex;
    justify-content: flex-start;
}
.quantity-buttons{
    margin: 0.5em;
    border: none;
    color: white;
    background-color: blue;
    font-size:1em;
    border-radius: 0.5em;
    font-weight: bold;
    width:5%;
    transition-duration:200ms ;
}
.quantity-buttons:hover{
    background-color:  rgba(52, 112, 240, 0.404);
    border:0.5px solid black;
    color: black;
    cursor: pointer;
}
.quantity-buttons:disabled{
    background-color: grey;
    border:none;
    color:black;
}
.create-reviews-form{
    display: flex;
    flex-direction: column;
}
.create-reviews-button{
    max-width: 40%;
    margin:0.2em;
    padding:0.5em;
    font-size: 1em;
    color: white;
    background-color: rgb(58, 36, 255);
    border-radius:1em;
    transition-duration: 200ms;
}
.create-reviews-button:hover{
    cursor: pointer;
    background-color: rgba(52, 112, 240, 0.404);
    color: black;
    border:1px solid black;
}
.create-reviews-form{
    border:2px solid black;
    border-radius: 1em;
}
.create-reviews-form input{
    max-width: 70%;
    margin: 0.2em;
    padding:0.5em;
    border: 1px solid grey;
    border-radius: 1em;
    font-size: 1em;
}
.create-reviews-form input:focus{
    background-color: rgb(231, 230, 230);
}
.formik-errors{
    margin:0.2em;
    color:red;
    padding: 0.5em;
}
.each-customer-review{
    border:1px solid black;
    margin:0.5em;
}
.each-customer-review p{
    margin:0.5em;
}